<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title | default: "Частный SEO специалист и Web-разработчик — создание, поддержка и продвижение сайтов" }}</title>
{% seo %}
<meta name="description" content="{{ page.description | default: "Опытный частный веб разработчик и SEO специалист. Создаю и поддерживаю сайты на 1С-Битрикс, Wordpress, MODX и др. Предлагаю качественное частное SEO продвижение и оптимизацию сайта." }}">
<link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">
<link rel="icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">