<header class="header test" itemscope itemtype="http://schema.org/WPHeader">
  <div class="container header__container">
    <div class="header__logo">
      <a href="{{ '/' | relative_url }}" class="logo" itemprop="url">
        <img src="{{ '/images/logo.webp' | relative_url }}" alt="Веб-разработка и SEO сопровождение">
        <span class="logo__description">Частное seo и web-разработка</span>
      </a>
    </div>
    
    {% include menu.html %}
    
    <div class="header__contacts">
      <a href="tel:+79915048150" class="contact-phone" itemprop="telephone">+7 (991) 504-81-50</a>
      <button class="button button--callback" data-modal="callback">Заказать звонок</button>
    </div>
  </div>
</header>